/CustomCategoryURLGeneratorTest.class
/CustomPieURLGeneratorTest.class
/CustomXYURLGeneratorTest.class
/StandardCategoryURLGeneratorTest.class
/StandardPieURLGeneratorTest.class
/StandardXYURLGeneratorTest.class
/TimeSeriesURLGeneratorTest.class
