/BoxAndWhiskerToolTipGeneratorTest.class
/BoxAndWhiskerXYToolTipGeneratorTest.class
/BubbleXYItemLabelGeneratorTest.class
/CustomXYItemLabelGeneratorTest.class
/HighLowItemLabelGeneratorTest.class
/IntervalCategoryItemLabelGeneratorTest.class
/IntervalCategoryToolTipGeneratorTest.class
/ItemLabelAnchorTest.class
/ItemLabelPositionTest.class
/MultipleXYSeriesLabelGeneratorTest.class
/StandardCategoryItemLabelGeneratorTest.class
/StandardCategorySeriesLabelGeneratorTest.class
/StandardCategoryToolTipGeneratorTest.class
/StandardContourToolTipGeneratorTest.class
/StandardPieSectionLabelGeneratorTest.class
/StandardPieToolTipGeneratorTest.class
/StandardXYItemLabelGeneratorTest.class
/StandardXYSeriesLabelGeneratorTest.class
/StandardXYToolTipGeneratorTest.class
/StandardXYZToolTipGeneratorTest.class
/SymbolicXYItemLabelGeneratorTest.class
