/CategoryItemEntityTest.class
/CategoryLabelEntityTest.class
/ContourEntityTest.class
/LegendItemEntityTest.class
/PieSectionEntityTest.class
/StandardEntityCollectionTest.class
/TickLabelEntityTest.class
/XYItemEntityTest.class
